/* RESET CSS */

/**==============================*/
/*! LINK-POINT*/
/**==============================*/

.section-linkpoint {
  background-color: #355674;
}

.container-linkpoint {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 90px 0;
  width: 100vw;
  height: 100vh;
}

.content-linkpoint {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-linkpoint {
  font-family: "Square Peg";
  font-weight: 400;
  font-size: 75px;

  color: #fff;
  text-align: center;
  line-height: normal;
}

.link-btn {
  font-weight: 500;
  font-size: 14px;

  color: #fff;
  text-align: center;
  letter-spacing: 0.7px;
  text-transform: uppercase;

  background-color: rgb(148, 120, 167);
  border-radius: 23px;
  padding: 14px 0;
  width: 400px;
}

.link-btn:hover,
.link-btn:active {
  background-color: rgb(175, 134, 202);
  transition: 250ms ease;
}


/**==============================*/
/*! FORM-SECTION*/
/**==============================*/

.form-section {
  background-image: linear-gradient(
      90deg,
      rgba(53, 86, 116, 0.7) 50%,
      rgba(53, 86, 116, 0.7) 100%
    ),
    url("../img/form_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100vw;
  height: 992px;
}

.form-container {
  padding: 90px 0;
  height: 100%;
}

/*? FORM */

.form-subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 52px;

  width: 100%;
  height: 100%;
}

.form-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 27px;
  height: auto;
  width: 100%;
}

#name-tx,
#email-txt {
  display: block;
  outline: none;

  font-family: "Quicksand", serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.7px;

  padding-left: 29px;

  border-radius: 28px;
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: transparent;

  width: 600px;
  height: 45px;
}

#name-tx:focus,
#email-txt:focus {
  border-color: rgb(131, 220, 231);
  transition: 250ms ease;
  outline: none;
}

#email-txt::placeholder,
#name-tx::placeholder {
  color: #fff;
}

textarea {
  display: block;
  resize: none;

  font-family: "Quicksand", serif;
  font-weight: 400;
  font-size: 14px;

  color: #fff;
  letter-spacing: 0.7px;

  width: 600px;
  height: 180px;

  border-radius: 28px;
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: transparent;
  padding: 14px 25px;
}

textarea::placeholder {
  font-family: "Quicksand", serif;
  font-weight: 400;
  font-size: 14px;

  color: #fff;
  letter-spacing: 0.7px;
}

textarea:focus {
  border-color: rgb(131, 220, 231);
  transition: 250ms ease;
  outline: none;
}

#form-submit {
  font-weight: 400;
  font-size: 14px;

  color: #fff;
  letter-spacing: 1.4px;
  text-transform: uppercase;

  border-radius: 23px;
  background-color: rgb(148, 120, 167);
  padding: 14px 0;

  width: 600px;
  cursor: pointer;
}

#form-submit:hover,
#form-submit:active {
  background-color: rgb(175, 134, 202);
  transition: 250ms ease;
}

.form-subtitle {
  font-weight: 400;
  font-size: 18px;

  color: #fff;
  text-align: center;
  line-height: 22px; /* 122.222% */

  width: 331px;
}

.subscription-title {
  font-family: "Square Peg";
  font-weight: 400;
  font-size: 75px;

  color: #fff;
  text-align: center;
  line-height: normal;
  letter-spacing: 3.75px;
}

.input-title-email {
  font-family: "Square Peg";
  font-weight: 400;
  font-size: 75px;

  color: #fff;
  text-align: center;
  line-height: normal;
  letter-spacing: 3.75px;

  margin-top: 50px;
  display: none;
}

.mesg {
  font-weight: 500;
  font-size: 16px;

  text-transform: uppercase;
  visibility: hidden;
  padding: 8px 10px;
  height: 28px;
}
