.basket-section {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100vh;

  padding: 20px 0;
}

.basket-container {
  /* padding: 90px 0; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.basket-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 35px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: -1px 8px 12px 0px rgba(58, 58, 58, 0.61);

  padding: 20px 30px;
  width: 690px;

  min-height: 380px;
  height: auto;
}

.basket-card {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 35px 0 35px 0;
  /* border: 1px solid red; */
  border-bottom: 2px solid rgb(193, 173, 206);
}

.basket-mob {
  display: none;
}

.basket-img {
  width: 260px;
  height: 260px;

  border-radius: 16px;
  border: 0.5px solid rgba(112, 112, 112, 1);

  margin-right: 18px;
}

.card-info {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.06em;
  color: #355674;

  align-self: flex-end;
  margin-right: 60px;
  padding-bottom: 10px;
}

.card-title {
  font-weight: 400;
  font-size: 26px;
  color: #355674;
}

.card-price {
  font-weight: 400;
  font-size: 32px;
  color: #355674;

  align-self: flex-end;
  padding-bottom: 10px;
}

.total-box {
  align-self: flex-end;
}

.total-price {
  font-weight: 700;
  font-size: 22px;
  color: #355674;
}

.icon-shopping-cart {
  font-size: 26px;
}

.close-x {
  position: absolute;

  top: 30px;
  right: 12px;
}

.mark-x {
  width: 25px;
  height: 25px;
}
