/**==============================*/
/*! HERO-SECTION*/
/**==============================*/

.section-hero {
  position: relative;

  /* width: 100vw;
  height: 100vh; */
  overflow: hidden;
}

/* .image-in-slide {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
  z-index: 1;
} */

.hero-container {
  background-image: linear-gradient(
      90deg,
      rgba(148, 120, 167, 0.6) 50%,
      rgba(148, 120, 167, 0.6) 100%
    ),
    url("/img/forsiden.jpg");
  background-size: auto 100%;
  background-position: center top;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  /* position: absolute;
  top: 40%;
  right: 35%;

  z-index: 2; */
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.hero-title {
  font-family: "Square Peg";
  font-weight: 400;
  font-size: clamp(65px, 5vw, 75px);

  color: #fff;
  text-align: center;
  line-height: normal;

  margin-bottom: 6px;
}

.hero-context {
  font-weight: 400;
  font-size: clamp(18px, 4vw, 22px);

  color: #fff;
  text-align: center;
  /* line-height: 22px; */
  /* width: 25%; */
}

.hero-subtitle {
  width: 75%;
}
