/**==============================*/
/*! HERO-SECTION*/
/**==============================*/

.section-hero {
  position: relative;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.image-in-slide {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.hero-container {
  position: absolute;
  top: 40%;
  right: 35%;

  z-index: 2;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  min-width: 160px;
}

.hero-title {
  font-family: "Square Peg";
  font-weight: 400;
  font-size: 75px;

  color: #fff;
  text-align: center;
  line-height: normal;

  margin-bottom: 6px;
}

.hero-context {
  font-weight: 500;
  font-size: 18px;

  color: #fff;
  text-align: center;
  line-height: 22px;

  margin-bottom: 121px;
}