/* RESET CSS */

/**==============================*/
/*! LINK-POINT*/
/**==============================*/

.section-linkpoint {
  background-color: #355674;
}

.container-linkpoint {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 90px 0;
  width: 100vw;
  height: 100vh;
}

.content-linkpoint {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-linkpoint {
  font-family: "Square Peg";
  font-weight: 400;
  font-size: 75px;

  color: #fff;
  text-align: center;
  line-height: normal;
}

.link-btn {
  font-weight: 500;
  font-size: 14px;

  color: #fff;
  text-align: center;
  letter-spacing: 0.7px;
  text-transform: uppercase;

  background-color: rgb(148, 120, 167);
  border-radius: 23px;
  padding: 14px 0;
  width: 400px;
}

.link-btn:hover,
.link-btn:active {
  background-color: rgb(175, 134, 202);
  transition: 250ms ease;
}